/* font files */
@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/karla-v31-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/karla-v31-latin-700.woff2") format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 85%);
  --clr-purple: hsl(256, 26%, 20%);
  --clr-black: hsl(270, 9%, 17%);
  --clr-pink: hsl(296, 30%, 68%);
  --clr-light-blue: hsl(216, 30%, 68%);
  --clr-grayish-purple: hsl(273, 4%, 51%);

  /* font family */
  --ff-headings: "DM Serif Display", Georgia, "Times New Roman", serif;
  --ff-body: "Karla", Arial, Helvetica, sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-semi-bold: 700;

  /* fixed font sizes */
  --fs-button: 0.8125rem;
  --fs-links: 0.8125rem;
  --fs-mobile-links: 1.25rem;

  /* spacing */
  --size-100: 1rem; /* 16px */
  --size-200: 1.5rem; /* 24px */
  --size-300: 2rem; /* 32px */
  --size-400: 2.25rem; /* 36px */
  --size-450: 2.5rem; /* 40px */
  --size-500: 3rem; /* 48px */
  --size-550: 3.9375rem; /* 63px */
  --size-560: 4.3125rem; /* 69px */
  --size-570: 5rem; /* 80px */
  --size-575: 5.8125rem; /* 93px */
  --size-600: 6rem; /* 96px */
  --size-650: 6.5625rem; /* 105px */
  --size-700: 9.375rem; /* 150px */
}

/* Utility classes */
.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* 72px-48px */
.heading-primary {
  font-size: 3rem;
  font-size: clamp(3rem, 2.2346938775510203rem + 3.265306122448979vw, 4.5rem);
  line-height: 1;
  font-family: var(--ff-headings);
  font-weight: var(--fw-regular);
  letter-spacing: -1px;
}

/* 56px-40px */
.heading-secondary {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.989795918367347rem + 2.1768707482993195vw, 3.5rem);
  line-height: 1;
  font-family: var(--ff-headings);
  font-weight: var(--fw-regular);
  letter-spacing: -0.78px;
}

/* 28px */
.heading-tertiary {
  font-size: 1.75rem;
  line-height: 1;
  font-family: var(--ff-headings);
  font-weight: var(--fw-regular);
  letter-spacing: -0.39px;
}

.display-flex {
  display: flex;
}

.grid-2cols-even,
.grid-3cols-even,
.grid-4cols-even {
  display: grid;
}
.grid-2cols-even {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 46.875em) {
  .grid-2cols-even {
    grid-template-columns: 1fr;
  }
}
.grid-3cols-even {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--size-300);
}
.grid-4cols-even {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--size-300);
}

/* buttons */
.btn {
  display: inline-block;
  border: 1.5px solid var(--clr-black);
  padding: 0.8125em 1.78125em;
  background-color: transparent;
  text-transform: uppercase;
  font-size: var(--fs-button);
  font-weight: var(--fw-semi-bold);
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.btn:is(:hover, :focus-visible) {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.btn--light {
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.btn--light:is(:hover, :focus-visible) {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.divider {
  height: 1px;
  width: 150px;
  background-color: var(--clr-grayish-purple);
  margin-bottom: var(--size-550);
}

/* PAGE STYLES */

/* general styles */
body {
  /* css reset */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* css reset */

  font-family: var(--ff-body);
  /* 18px-16px */
  font-size: clamp(
    1rem,
    0.9362244897959183rem + 0.27210884353741494vw,
    1.125rem
  );
}

section {
  margin-bottom: var(--size-700);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
}

.logo {
  width: 6.95126rem;
  height: 1.125rem;
}

/* header */
.header {
  --header-height: 5rem;
  height: var(--header-height);
  align-items: center;
}
.header .logo {
  margin-right: auto;
}
.header__nav-links {
  gap: var(--size-400);
  margin-right: var(--size-300);
}
.header__nav-links a {
  color: var(--clr-grayish-purple);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-links);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.header__nav-links a:is(:hover, :focus-visible) {
  color: var(--clr-black);
}
.header__button--mobile {
  width: 80%;
  margin-inline: auto;
  font-size: var(--fs-mobile-links);
  display: none;
}
.header__hamburger-btn {
  border: 0;
  background-color: transparent;
  position: relative;
  display: none;
  z-index: 999;
}
.header__hamburger-btn img {
  --btn-size: 2rem;
  height: var(--btn-size);
  width: var(--btn-size);
}

@media (max-width: 46.875em) {
  .header__button,
  .header__nav-links {
    display: none;
  }
  .header__button--mobile {
    display: block;
  }
  .header__nav-links.show {
    display: flex;
    flex-direction: column;
    gap: var(--size-200);
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: var(--clr-black);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: var(--size-450);
  }
  .header__nav-links.show a {
    color: var(--clr-white);
    font-size: var(--fs-mobile-links);
  }
  .header__nav-links.show a:is(:hover, :focus-visible) {
    color: var(--clr-white);
  }
  .header__hamburger-btn {
    display: block;
  }
}

/* hero */
.hero {
  --background-height: 37rem;
  color: var(--clr-white);
  background-image: linear-gradient(
    var(--clr-purple) var(--background-height),
    var(--clr-white) var(--background-height)
  );

  padding-top: clamp(1rem, -10.5885rem + 24.7222vw, 6.5625rem);
}
.hero__wrapper {
  gap: var(--size-300);
}
.hero__content *:not(:first-child):not(:last-child) {
  margin-bottom: 2rem;
}
.hero__content {
  padding-bottom: var(--size-100);
}
.hero__heading {
  max-width: 13ch;
}
.hero__img {
  width: 100%;
  max-height: 40.625rem;
  object-fit: cover;
}

/* media queries */
@media (max-width: 46.875em) {
  .hero {
    --background-height: 100%;
    padding-top: 0;
  }
  .hero__image-wrapper {
    grid-row: 1 / 2;
  }
  .hero .container {
    width: 100%;
  }
  .divider--hero {
    display: none;
  }
  .hero__content {
    text-align: center;
    padding-block: var(--size-575);
    padding-inline: var(--size-100);
  }
  .hero__heading {
    margin-inline: auto;
  }
}

/* features */
.divider--features {
  background-color: var(--clr-pink);
}
.features__heading {
  margin-bottom: var(--size-600);
}
.features__icon {
  --icon-size: 5.375rem;
  height: var(--icon-size);
  width: var(--icon-size);
  margin-bottom: var(--size-300);
}
.features__list-heading {
  margin-bottom: var(--size-100);
}
.features__list-description {
  color: var(--clr-grayish-purple);
}

@media (max-width: 35.1875em) {
  .features {
    text-align: center;
  }
  .features__icon,
  .divider--features {
    margin-inline: auto;
  }
}

/* cta */
.cta {
  color: var(--clr-white);
  background-color: var(--clr-purple);
  padding: var(--size-560) var(--size-570);
  align-items: center;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-size: 40% 100%;
  background-repeat: no-repeat;
  background-position: top right;
}
.cta__btn {
  justify-self: end;
}

@media (max-width: 46.875em) {
  .cta {
    text-align: center;
    gap: var(--size-450);
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
    background-size: 40% 100%;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .cta__btn {
    justify-self: center;
  }
}

@media (max-width: 35.1875em) {
  .cta {
    padding-inline: var(--size-200);
  }
}

/* footer */
.footer {
  background-color: var(--clr-grayish-white);
  padding-block: var(--size-550);
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40% 50%;
}

/* top footer */
.footer__social-icons {
  gap: var(--size-100);
  justify-self: end;
}
.footer__social-icons a {
  text-decoration: none;
  color: var(--clr-grayish-purple);
}
.footer__social-icons a:is(:hover, :focus-visible) {
  color: var(--clr-black);
}
.top-footer {
  border-bottom: 1px solid var(--gray);
  padding-bottom: var(--size-300);
}

@media (max-width: 46.875em) {
  .footer {
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 15%;
    background-position: top center;
  }
  .top-footer {
    justify-items: center;
    gap: var(--size-300);
  }
  .footer__social-icons {
    justify-self: center;
  }
}

/* bottom footer */
.bottom-footer {
  font-size: var(--fs-links);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: var(--size-500);
}
.bottom-footer ul > *:not(:last-child) {
  margin-bottom: var(--size-100);
}
.footer-links ul a {
  text-decoration: none;
  color: var(--clr-black);
  font-weight: var(--fw-semi-bold);
}
.footer-links ul a:is(:hover, :focus-visible) {
  text-decoration: underline;
}
.footer-links h3 {
  color: var(--clr-grayish-purple);
  margin-bottom: var(--size-300);
}

@media (max-width: 35.1875em) {
  .bottom-footer {
    text-align: center;
  }
}
